<app-header></app-header>
<div class="landing-page">
    <div class="content">
        <div class="text-content">
            <div class="single-content">
                <h1>
                    Test Smsgi
                </h1>    
                <p> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a</p>
            </div>
            <div class="single-content">
                <h1>
                    Solutions
                </h1>    
                <p> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a</p>
            </div>
            <div class="single-content">
                <h1>
                    Contributors
                </h1>    
                <p> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a</p>
            </div>
        </div>
        <img src="../../assets/images/illustration-editor-desktop.svg" />
    </div>
</div>