<div class="container-header">
    <div class="menu-bar">
        <h1>Smsgi</h1>
        <nav>
            <a routerLink="/"> Home </a>
            <a routerLink="/users"> Usuarios </a>
            <a routerLink="/user/create"> Criar um Usuario </a>
        </nav>
    </div>
    <div class="content-container">
            <div class="info-container">
                <h2>SM Soluções</h2>
                <p>company specialized in the development of information technology solutions</p>
                <div class="buttons">
                    <a href="https://www.linkedin.com/in/guilherme-ilan-46b739185/" target="_blank">
                        My LinkedIn
                    </a>
                    <a href="https://github.com/guiilan/smsgi" target="_blank"> 
                        My GitHub
                        <img src="../../assets/images/right.svg" alt="Arrow"/> 
                   </a>
                </div>
            <div>
        </div>
    </div>
</div>






